section[data-class="hero"].hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background: linear-gradient(104.28deg, #9E181B -3.87%, #2C4585 92.19%);

    

    h1, h2{
      text-align: center;
      color: white;
    }

    p{
      text-align: center;
    }

    h1{
      font-weight: 200;
      font-size: 1.8em;
      margin-top: 60px;

      span{
        font-size: 1.6em;
        font-weight: 900;
      }
    }

    .icons{
      margin-top: 10px;
      transform: scale(0.2);
      transition: all 1s ease;
      width: 150px;
    }

    .line{
      width: 23%;
      border-bottom: 0.1px solid #ffffff83;
      margin-top: 20px;
    }

    .balance-box{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #4D4D4D;
      margin-top: 40px;

      div{
        padding: 10px 70px;
        background-color:#C9C9C9;
        border-radius: 50px;
        box-shadow: 11.268293380737305px 0px 18.667251586914062px 0px #00000040;


        .value{
          font-size: 2.5em;
          font-weight: 200;

          span{
            font-weight: 600;
          }
        }

        .label{
          font-weight: 200;

          span{
            font-weight: 600;
          }
        }

        &:nth-child(2){
          margin-top: 20px;
          background-color: #FFF;
        }
      }
    }

    .arrow{
        background-image: url('https://goffwd.sirv.com/Mueller/arrow.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 40px;
        position: relative;
        margin-top: 5vh;
        animation: ctaMinimaLArrowOuter 2.5s cubic-bezier(.55, 0, 0.45, 1) infinite;
        cursor: pointer;
    }

  @keyframes ctaMinimaLArrowOuter {
    0% {
      transform: translateY(0) ;
    }
      20% {
      transform: translateY(12px);
    }
      50% {
      transform: translateY(0);
      }
    100% {
      transform: translateY(0);
    }
  } 

  @media (min-width: 1024px){
    height: 108vh;
    background: transparent;

    h1{
      font-size: 3em;
      font-size: clamp(1.5em, 4.5em, 3.2vw);
      margin-top: 12vh;
    }

    .icons{
      width: clamp(180px, 360px, 18vw);
      margin-top: 4vh;
    }

    .line{
      width: clamp(180px, 360px, 18vw);
      margin-top: 6vh;
    }

    .balance-box{
      flex-direction: row;
      justify-content: center;
      border-radius: 75px;
      overflow: hidden;
      width: max-content;
      background-color: white;

      div{
        margin: 0 !important;
        border-radius: 0;
        box-shadow: none;
        padding: 15px 70px;

        .value{
          font-size: clamp(2em, 4em, 3vw);
        }

        .label{
          font-size: clamp(1em, 1.5em, 1.2vw);
        }

        &:nth-child(1){
          border-radius: 75px;
          box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.53);
          z-index: 1;
          padding-left: 120px;
        }
      }
    }

    .arrow{
      width: 20px;
      height: 60px;
    }
  }
}