section[data-class="levels"].levels{
    padding: 50px 0;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title{
        color: #2d2d2d;
        text-align: center;
        font-size: 1.4em;
        font-weight: 200;
        margin-bottom: 50px;
        position: relative;
        z-index: 1;

        .heading-box{
            display: flex;
            display: grid;
            

            span{
                grid-row: 1 / 1;
                grid-column: 1 / 1;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                font-size: 1.6em;
                font-weight: 900;

                &:nth-child(1){
                    background-image: linear-gradient(91.03deg, #9E181B 7.39%, #2C4585 89.06%);
                }

                &:nth-child(2){
                    background-image: linear-gradient(91.03deg, #2C4585 7.39%,#9E181B 89.06%);
                    animation-name: opacity;
                    animation-duration: 3s;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                }

                @keyframes opacity {
                    from{
                        opacity: 0;
                    }to{
                        opacity: 1;
                    }
                }
            }
        }
    }

    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        .card{
            width: 85%;
            background: #F4F4F4;
            border-radius: 7px;
            overflow: hidden;
            padding-bottom: 40px;
            box-shadow: 0px 0px 24px 0px #2C458540;
    
    
            .heading{
                width: 100%;
                height: 60px;
                font-size: 1.4em;
                background: #858585;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 15px;
    
                h2{
                    font-weight: 200;
                    color: white;
                    font-size: 1em;
    
                    span{
                        font-weight: 500;
                    }
                }

                div{
                    display: flex;
                    align-items: center;

                    span{
                        color: white;
                        font-size: 13px;
                        margin-left: 5px;
                        
                    }
                }
            }
    
            .medal{
                width: auto;
                height: 50px;
                display: block;
                margin: 30px auto;
            }
    
            #crown{
                transform-origin: center;
                transform-box: fill-box;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: normal;
                animation-duration: 10s;
            }
            
            @keyframes rotate{
              from{
                transform: rotate(0deg);
              }to{
                transform: rotate(360deg);
              }
            }
    
            .list{
                width: 90%;
                margin: 0 auto;
    
                .line{
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
    
                    img{
                        margin-right: 5px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
    
            &:nth-child(1){
                margin-bottom: 30px;    
            }
    
            &:nth-child(2){
                margin-bottom: 30px;    
    
                .heading{
                    background: black;
                }
            }
    
            &:nth-child(3){
                margin-bottom: 30px;    
    
                .heading{
                    background: #245684;
                }
    
                .list{
                    .bold{
                        color: #245684;
                    }
                }
            }
        }
    }

    .shape-bg-desk{
        display: none;
    }

    .shape-bg-mob{
        position: absolute;
        z-index: 0;
    }

    @media(min-width: 1024px){
        width: 100%;
        margin: 0 auto;
        padding: 80px 0;
        position: relative;
        background-color: white;

        .title{
            font-size: 2.2em;
        }

        .container{
            margin: 0 auto;
            max-width: 1300px;
            width: 80%;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            z-index: 2;

            .card{
                width: 30%;
                height: 350px;
            }
        }

        
        .shape-bg-desk{
            display: initial;
            position: absolute;
            width: 120%;
        }

        .shape-bg-mob{
            display: none;
        }
    }
}