section[data-class="scoreboard"].scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px 0;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 34px 0px #00000026;
    z-index: 2;

    .score-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 160px;
        height: 160px;

        svg{
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .dynamic{
            font-size: 1.2em;
            color: #75A637;
            font-weight: 700;
        }
    }

    .text-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            margin-top: 20px;
            width: 90%;
            color: #7A7A7A;
            font-weight: 400;
            font-size: 1.6em;
            text-align: center;
            white-space: nowrap;
    
            span{
                font-weight: 700;
            }

            #level-title{
                text-transform: capitalize;
            }
        }

        h3{
            margin-top: 20px;
            width: 90%;
            color: #7A7A7A;
            font-weight: 400;
            font-size: 1em;
            text-align: center;

            span{
                font-weight: 700;
            }
        }
    }

    a{
        margin-top: 30px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8em;
        color: #75A637;
        background-color: #EBEBEB;
        border-radius: 50px;
        text-decoration: none;
        padding: 10px 20px;
        box-shadow: 0px 4px 34px 0px #00000030;
        outline: none;
    }

    @media (min-width: 1024px) {
        width: 90%;
        margin: -120px auto 0;
        border-radius: 50px;
        display: grid;
        grid-template-columns: 20% 20% 50% 10%;
        grid-template-rows: 60% 40%;

        .score-box{
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            width: clamp(180px, 250px, 14vw);
            height: clamp(180px, 250px, 14vw);
            
            .dynamic{
                font-size: clamp(1.5em, 2em, 1.5vw);
            }
        }

        .text-box{
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            align-items: flex-start;

            h2{
                width: 100%;
                text-align: left;
                font-size: clamp(2.5em, 4em, 3vw);
            }

            h3{
                text-align: left;
                font-size: clamp(1.6em, 2.2em, 1.7vw);
            }
        }

        a{
            grid-column: 3 / 4;
            grid-row: 2 / 3 ;
            width: max-content;
            font-size: clamp(0.9em, 1.2em, 0.9vw);
            transition: all 0.5s ease;

            &:hover{
                background-color: #75A637;
                color: white;
            }
        }
    }
}