section[data-class="send"].send{
    background: linear-gradient(99.55deg, #9E181B -16.72%, #2C4585 106.3%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    height: 600px;
    z-index: 2;

    h2{
        font-size: 2.2em;
        color: white;
    }

    form{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 80%;

        .input-box{
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            border-radius: 50px;
            background: #FFFFFF4D;
            position: relative;

            input{
                border: none;
                outline: none;
                font-size: 1.6em;
                color: white;
                width: 100%;
                background: transparent;
                position: absolute;
                padding-left: 45px;
            }

            img{
                position: absolute;
                pointer-events: none;
                height: 18px;
                left: 15px;
            }
        }

        button{
            padding: 10px 0;
            border-radius: 50px;
            font-size: 1.2em;
            border: none;
            margin-top: 15px;
            outline: none;
            
            span{
                background: linear-gradient(91.1deg, #9E181B -186.03%, #2C4585 306.11%);
                background-clip: text;
                -webkit-background-clip: text;
            }
        }
    }

    
    p{
        color: white;
        font-size: 9px;
        margin-top: 20px;
    }

    .invited{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        .heading{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid white;
            padding: 10px 0;

            h3{
                color: white;
                font-weight: 500;
                font-size: 1.3em;
            }

            button{
                background: transparent;
                border: none;
                outline: none;
                transition: all 0.5s ease;
                transform-origin: center;
                transform: rotateX(180deg);
                cursor: pointer;

                &.open{
                    transform: rotateX(0deg);
                }

                &:hover{
                    opacity: 0.6;
                }
            }
        }

        .invited-box{
            width: 100%;
            height: 160px;
            overflow: hidden;
            transition: all 0.5s ease;

            &.open{
                
                .list-heading{
                    transform: translateY(-160px);
                }

                ul{
                    transform: translateY(-160px);
                }
            }

            .list-heading{
                display: flex;
                justify-content: space-between;
                padding-right: 15px;
                transform: translateY(0px);
                transition: all 0.5s ease;

                p{
                    font-size: 1.2em;
                }
            }

            ul{
                transform: translateY(0px);
                transition: all 0.5s ease;
                width: 100%;
                padding: 0;
                height: 100px;
                overflow-y: scroll;

               /* width */
                &::-webkit-scrollbar {
                    width: 10px;
                }
                
                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f167;
                    border-radius: 50px;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #2c458583;
                    border-radius: 50px;
                    transition: all 0.5s ease;
                }
                
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #21336183;
                }

                li{
                    margin:0;
                    padding: 3px 0;
                    padding-right: 5px;
                    text-indent: 0;
                    list-style-type: 0;
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.1em;
                    

                    span{
                        color: white;
                    }

                    span.agree{
                        color: #75A637;
                    }
                    
                    span.desagree{
                        color: #EF8E0F;
                    }
                }
            }
        }
    }

    @media (min-width: 1024px) {
        padding-top: 150px;
        height: 700px;
        background: transparent;

        h2{
            font-size: 3.2em;
        }

        form{
            width: 45%;
            max-width: 700px;
        }

        p{
            font-size: 12px;
        }

        .invited{
            width: 45%;
            max-width: 700px;
        }
    }
}