html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Mangerica';
    font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    color: #b9292f;
}

.header{
    width: 100%;
    position: relative;
    z-index: 99;

    .bg-1{
        width: 100%;
        height: 7vh;
        background-image: url('../assets/header-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bg-2{
        width: 100%;
        height: 10vh;
        background-image: url('../assets/header-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}